@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply overflow-hidden bg-gray-950 text-white;
	}

	main {
		@apply h-screen w-screen gap-2 p-4;
	}

	code {
		@apply whitespace-pre-line;
	}

	input:focus,
	select:focus,
	textarea:focus,
	button:focus,
	.button {
		@apply outline-none;
	}

	.link {
		@apply text-accent underline decoration-transparent transition-[text-decoration-color] hover:decoration-accent;
	}

	button,
	input,
	.button {
		@apply rounded-md border border-heavy bg-gray-950/40;
	}

	button,
	.button {
		@apply p-4;

		&.square {
			@apply aspect-square border-accent/20 text-2xl leading-[0] transition-colors duration-300 hover:bg-accent hover:text-black;

			&:hover {
				@apply bg-accent text-black;
			}
		}

		&:hover {
			@apply border-suggested;
		}
	}

	.icon {
		@apply h-6 w-6;
	}

	input {
		@apply p-3;
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}

	section {
		@apply w-full gap-3 rounded-md border border-light bg-section-300 p-4;

		* {
			@apply gap-2;
		}
	}

	.subtext {
		@apply opacity-50;
	}
}
