@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.success {
	color: plum;
}

.error {
	color: lightcoral;
}

code {
	white-space: pre-line;
}

body {
	font-family: 'JetBrains Mono', monospace;
	overflow: hidden;
}

@layer base {
	body {
		@apply bg-gray-950 text-white;
	}

	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		@apply outline-none;
	}

	button,
	input {
		@apply bg-gray-950/40 border border-gray-500/40 rounded-md;
	}

	button {
		@apply p-4;
	}

	input {
		@apply p-3;
	}

	section {
		@apply gap-3 p-4 border rounded-md bg-gray-950/60 border-gray-500/20;
	}

	section * {
		@apply gap-2;
	}

	.subtext {
		@apply opacity-50;
	}
}
