@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.success {
	color: plum;
}

.error {
	color: lightcoral;
}

code {
	white-space: pre-line;
}

body {
	font-family: 'JetBrains Mono', monospace;
	overflow: hidden;
}

@layer base {
	body {
		@apply bg-gray-950 text-white;
	}

	button {
		@apply p-4 bg-gray-950 border border-gray-500/40 rounded-md;
	}
}
