@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.success {
	color: plum;
}

.error {
	color: lightcoral;
}

code {
	white-space: pre-line;
}

body {
	font-family: 'JetBrains Mono', monospace;
	overflow: hidden;
}

@layer base {
	body {
		@apply bg-gray-950 text-white;
	}

	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		@apply outline-none;
	}

	button,
	input {
		@apply border border-gray-500/40 rounded-md;
	}

	button {
		@apply bg-gray-950/70 p-4;
	}

	input {
		@apply bg-gray-950/40 p-3;
	}

	.subtext {
		@apply opacity-50;
	}
}
